# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_RTC
	bool "REALTEK MCU rtc driver"
	default y
	depends on USE_HAL_REALTEK_RTC

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the rtc driver for REALTEK MCU.