# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_PINMUX
	bool "REALTEK MCU pinmux driver"
	default y
	depends on USE_HAL_REALTEK_PINMUX

	help
	  This option enables the pinmux driver for REALTEK MCU.