# Copyright(c) 2024, Realtek Semiconductor Corporation.

menu "Realtek Subsys Audio"
config REALTEK_SUBSYS_AUDIO
    bool "Enable Realtek Audio lib"
    default n
    help
       Realtek audio lib support
endmenu