config REALTEK_UART
	bool "Realtek MCU serial driver"
	default n

	help
	  This option enables the uart driver for Realtek family of
	  processors.

config REALTEK_GPIO
	bool "Realtek MCU gpio driver"
	default n

	help
	  This option enables the gpio driver for Realtek family of
	  processors.

config REALTEK_TIM
	bool "Realtek MCU tim driver"
	default n

	help
	  This option enables the tim driver for Realtek family of
	  processors.

config REALTEK_ENHTIM
	bool "Realtek MCU enhtim driver"
	default n

	help
	  This option enables the enhtim driver for Realtek family of
	  processors.

config REALTEK_DMA
	bool "Realtek MCU dma driver"
	default n

	help
	  This option enables the dma driver for Realtek family of
	  processors.

config REALTEK_RTC
	bool "Realtek MCU rtc driver"
	default n

	help
	  This option enables the rtc driver for Realtek family of
	  processors.

config REALTEK_ADC
	bool "Realtek MCU adc driver"
	default n

	help
	  This option enables the adc driver for Realtek family of
	  processors.

config REALTEK_QDEC
	bool "Realtek MCU qdec driver"
	default n

	help
	  This option enables the qdec driver for Realtek family of
	  processors.

config REALTEK_SPI
	bool "Realtek MCU spi driver"
	default n

	help
	  This option enables the spi driver for Realtek family of
	  processors.

config REALTEK_KEYSCAN
	bool "Realtek MCU keyscan driver"
	default n

	help
	  This option enables the keyscan driver for Realtek family of
	  processors.

config REALTEK_I2C
	bool "Realtek MCU i2c driver"
	default n

	help
	  This option enables the i2c driver for Realtek family of
	  processors.
