# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_SPI3W
	bool "REALTEK MCU spi3w driver"
	default y
	depends on USE_HAL_REALTEK_SPI3W

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the spi3w driver for REALTEK MCU.