config REALTEK_DMA
	bool "REALTEK MCU dma driver"
	default y
	depends on USE_HAL_REALTEK_DMA

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the dma driver for REALTEK MCU.