# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_LPC
	bool "Realtek Bee LPC driver"
	default n
	help
	  This option enables the LPC driver for Realtek Bee.
