# Copyright (c) 2025 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_CAN
	bool "REALTEK MCU CAN driver"
	default y
	depends on USE_HAL_REALTEK_CAN

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the CAN driver for REALTEK MCU.
