# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_GPIO
	bool "REALTEK MCU gpio driver"
	default y
	depends on USE_HAL_REALTEK_GPIO

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the gpio driver forREALTEK MCU.