# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menu "realtek bsp driver"
# rsource "rcc/Kconfig"

endmenu

config REALTEK_USING_RTL876X_DRIVER
	bool
	default y
	depends on SOC_SERIES_RTL8752H || SOC_SERIES_RTL87X3G

