# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

rsource "drivers/Kconfig"
rsource "rtl87x2g/Kconfig"
rsource "rtl8752h/Kconfig"

config REALTEK_BT_CONTROLLER_STACK_SIZE
	int "Realtek bt lowstack stack size"
    range 1536 4096
	default 3072
	help
	  This config set the bt lowstack stack size.

config REALTEK_OSIF_TIMER_MAX_COUNT
	int "Max Number of Realtek osif timer to create"
	range 6 4096
	default 10
	help
	  This config set the max number of osif timer to create.

config REALTEK_OSIF_MAX_TASK_PRIORITY
    int
    default 6
    help
      This config CAN NOT be modified. Realtek osif task's priority is restricted to 0 ~ 6.