config REALTEK_SPI
	bool "REALTEK MCU spi driver"
	default y
	depends on USE_HAL_REALTEK_SPI

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the spi driver for REALTEK MCU.