# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_UART
	bool "REALTEK MCU uart driver"
	default y
	depends on USE_HAL_REALTEK_UART

	select USE_HAL_REALTEK_RCC
	select USE_HAL_REALTEK_PINMUX
	select USE_HAL_REALTEK_NVIC

	help
	  This option enables the uart driver for REALTEK MCU.