config REALTEK_USB
	bool "RealTek MCU usb driver"
	default n

config REALTEK_USING_USB_HAL
	bool "RealTek usb hal library"
	default y if REALTEK_USB
    select REALTEK_USING_SDK_LIB
	help
		This option enables the usb hal library for REALTEK MCU.
