# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
config REALTEK_BEE_MAC_802154
	bool "REALTEK Bee MCU mac 802154 driver"
	default n

	help
	  This option enables the mac 802154 driver for REALTEK Bee MCU.
