# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
menu "realtek bsp driver"
rsource "adc/Kconfig"
rsource "uart/Kconfig"
rsource "rcc/Kconfig"
rsource "pinmux/Kconfig"
rsource "nvic/Kconfig"
rsource "tim/Kconfig"
rsource "rtc/Kconfig"
rsource "dma/Kconfig"
rsource "gpio/Kconfig"
rsource "i2c/Kconfig"
rsource "keyscan/Kconfig"
rsource "qdec/Kconfig"
rsource "spi/Kconfig"
rsource "usb/Kconfig"
rsource "wdt/Kconfig"
rsource "bluetooth/Kconfig"
rsource "ppt/Kconfig"
rsource "mac_802154/Kconfig"
endmenu
