# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

menu "HAL Realtek Bee Drivers"
orsource "adc/Kconfig"
orsource "bluetooth/Kconfig"
orsource "can/Kconfig"
orsource "codec/Kconfig"
orsource "debug/Kconfig"
orsource "dma/Kconfig"
orsource "gpio/Kconfig"
orsource "i2c/Kconfig"
orsource "i2s/Kconfig"
orsource "ir/Kconfig"
orsource "irq/Kconfig"
orsource "keyscan/Kconfig"
orsource "lpc/Kconfig"
orsource "mac_802154/Kconfig"
orsource "pinmux/Kconfig"
orsource "pwm/Kconfig"
orsource "qdec/Kconfig"
orsource "rap/Kconfig"
orsource "rcc/Kconfig"
orsource "rtc/Kconfig"
orsource "sdhc/Kconfig"
orsource "spi/Kconfig"
orsource "spi3w/Kconfig"
orsource "timer/Kconfig"
orsource "uart/Kconfig"
orsource "usb/Kconfig"
orsource "wdt/Kconfig"
endmenu

config REALTEK_BEE_COMMON_DRIVER
	bool
	default y
	depends on !(SOC_SERIES_RTL8752H || SOC_SERIES_RTL87X2G)

config WRAP_REALTEK_BEE_ADC
	bool
	default y
	depends on HAL_REALTEK_BEE_ADC
	select REALTEK_BEE_ADC

config WRAP_REALTEK_BEE_CAN
	bool
	default y
	depends on HAL_REALTEK_BEE_CAN
	select REALTEK_BEE_CAN

config WRAP_REALTEK_BEE_CODEC
	bool
	default y
	depends on HAL_REALTEK_BEE_CODEC
	select REALTEK_BEE_CODEC

config WRAP_REALTEK_BEE_DMA
	bool
	default y
	depends on HAL_REALTEK_BEE_DMA
	select REALTEK_BEE_DMA

config WRAP_REALTEK_BEE_GPIO
	bool
	default y
	depends on HAL_REALTEK_BEE_GPIO
	select REALTEK_BEE_GPIO

config WRAP_REALTEK_BEE_GRTC
	bool
	default y
	depends on HAL_REALTEK_BEE_GRTC
	select REALTEK_BEE_GRTC

config WRAP_REALTEK_BEE_I2C
	bool
	default y
	depends on HAL_REALTEK_BEE_I2C
	select REALTEK_BEE_I2C

config WRAP_REALTEK_BEE_I2S
	bool
	default y
	depends on HAL_REALTEK_BEE_I2S
	select REALTEK_BEE_I2S

config WRAP_REALTEK_BEE_IR
	bool
	default y
	depends on HAL_REALTEK_BEE_IR
	select REALTEK_BEE_IR

config WRAP_REALTEK_BEE_KEYSCAN
	bool
	default y
	depends on HAL_REALTEK_BEE_KEYSCAN
	select REALTEK_BEE_KEYSCAN

config WRAP_REALTEK_BEE_LPC
	bool
	default n
	select REALTEK_BEE_LPC

config WRAP_REALTEK_BEE_NVIC
	bool
	default y
	select REALTEK_BEE_NVIC

config WRAP_REALTEK_BEE_PINMUX
	bool
	default y
	depends on HAL_REALTEK_BEE_PINMUX
	select REALTEK_BEE_PINMUX

config WRAP_REALTEK_BEE_PWM
	bool
	default y
	depends on HAL_REALTEK_BEE_PWM
	select REALTEK_BEE_PWM

config WRAP_REALTEK_BEE_AON_QDEC
	bool
	default y
	depends on HAL_REALTEK_BEE_AON_QDEC
	select REALTEK_BEE_AON_QDEC

config WRAP_REALTEK_BEE_QDEC
	bool
	default y
	depends on HAL_REALTEK_BEE_QDEC
	select REALTEK_BEE_QDEC

config WRAP_REALTEK_BEE_LPQDEC
	bool
	default y
	depends on HAL_REALTEK_BEE_LPQDEC
	select REALTEK_BEE_LPQDEC

config WRAP_REALTEK_BEE_RAP
	bool
	default y
	depends on HAL_REALTEK_BEE_RAP
	select REALTEK_BEE_RAP

config WRAP_REALTEK_BEE_RCC
	bool
	default y
	depends on HAL_REALTEK_BEE_RCC
	select REALTEK_BEE_RCC

config WRAP_REALTEK_BEE_RTC
	bool
	default y
	depends on HAL_REALTEK_BEE_RTC
	select REALTEK_BEE_RTC

config WRAP_REALTEK_BEE_SDHC
	bool
	default y
	depends on HAL_REALTEK_BEE_SDHC
	select REALTEK_BEE_SDHC

config WRAP_REALTEK_BEE_SPI
	bool
	default y
	depends on HAL_REALTEK_BEE_SPI
	select REALTEK_BEE_SPI

config WRAP_REALTEK_BEE_SPI3W
	bool
	default n
	select REALTEK_BEE_SPI3W

config WRAP_REALTEK_BEE_TIM
	bool
	default y
	depends on HAL_REALTEK_BEE_TIM
	select REALTEK_BEE_TIMER

config WRAP_REALTEK_BEE_ENHTIM
	bool
	default y
	depends on HAL_REALTEK_BEE_ENHTIM
	select REALTEK_BEE_ENHTIMER

config WRAP_REALTEK_BEE_UART
	bool
	default y
	depends on HAL_REALTEK_BEE_UART
	select REALTEK_BEE_UART

config WRAP_REALTEK_BEE_USB
	bool
	default y
	depends on HAL_REALTEK_BEE_USB
	select REALTEK_BEE_USB

config WRAP_REALTEK_BEE_AON_WDT
	bool
	default y
	depends on HAL_REALTEK_BEE_AON_WDT
	select REALTEK_BEE_AON_WDT

config WRAP_REALTEK_BEE_CORE_WDT
	bool
	default y
	depends on HAL_REALTEK_BEE_CORE_WDT
	select REALTEK_BEE_CORE_WDT
