# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
config REALTEK_BEE_AON_WDT
	bool "REALTEK Bee MCU aon watchdog timer"
	default y
	depends on USE_HAL_REALTEK_BEE_AON_WDT
	
	help
	  This option enables the aon wdt driver for REALTEK bee family of
	  processors.

config REALTEK_BEE_CORE_WDT
	bool "REALTEK Bee MCU core watchdog timer"
	default y
	depends on USE_HAL_REALTEK_BEE_CORE_WDT
	
	help
	  This option enables the core wdt driver for REALTEK bee family of
	  processors.
