# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_VOICE
	bool "RealTek voice driver"
	default n

config REALTEK_USING_VOICE_ENCODE_LIB
	bool "RealTek voice encode library"
	default y if REALTEK_VOICE
	help
		This option enables the voice encode library for REALTEK MCU.
