# Copyright(c) 2024, Realtek Semiconductor Corporation.

choice 
    prompt "Realtek Subsys Upperstack"
    default REALTEK_SUBSYS_UPPERSTACK
    config REALTEK_SUBSYS_UPPERSTACK
        bool "default upperstack lib"
    config REALTEK_SUBSYS_UPPERSTACK_HRP
        bool "HRP upperstack lib"
    help
        Application developers should use default upperstack lib.
        HRP upperstack lib for internal usage 
endchoice

