# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_NVIC
	bool "REALTEK MCU nvic driver"
	default y
	depends on USE_HAL_REALTEK_NVIC

	help
	  This option enables the nvic driver for REALTEK MCU.