# Copyright(c) 2024, Realtek Semiconductor Corporation.

menu "Realtek Subsys Bluetooth Manager"
config REALTEK_SUBSYS_BTM
    bool "Enable Realtek Bluetooth Manager lib"
    default n
    help
       Realtek btm lib support.
endmenu